---
import ButtonLink from "./ButtonLink.astro";
import IconSocial from "./IconSocial.astro";
---

<div class="max-w-2xl">
  <h1
    class="text-4xl bg-gradient-to-r dark:from-indigo-300 dark:via-violet-500 dark:to-indigo-300 from-violet-600 via-violet-400 to-violet-600 bg-clip-text animate-gradient-loop bg-[length:200%_auto] font-extrabold tracking-tight text-transparent sm:text-5xl stylistic-alternates"
  >
    Emprendedor, desarrollador y analista SEO.
  </h1>
  <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
    ¡Hola!, me presento, yo soy Ignacio, emprendedor por vocación y desarrollador web, especializado en posicionamiento web.
  </p>
  <div class="mt-6 flex gap-6">
    <a href="https://www.instagram.com/nafem98/" class="group -m-1 p-1" aria-label="Sígueme en Instagram">
      <IconSocial
        brand="Instagram"
        extraClasses="mr-2 h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
      />
    </a>
    <a href="https://github.com/ignacio-fm" class="group -m-1 p-1" aria-label="Sígueme en GitHub">
      <IconSocial
        brand="Github"
        extraClasses="mr-2 h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
      />
    </a>
    <a href="https://www.linkedin.com/in/nachofernandezmillera/" class="group -m-1 p-1" aria-label="Sígueme en Linkedin">
      <IconSocial
        brand="Linkedin"
        extraClasses="mr-2 h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
      />
    </a>
  </div>
  <div class="mt-6 flex gap-4">
    <ButtonLink
      href="mailto:hola@ignacio.info"
      extraClasses="dark:highlight-white/20 bg-violet-600 text-white hover:bg-violet-400"
    >
      Contactar
    </ButtonLink>
    <ButtonLink
      variant="secondary"
      href="/articulos"
      extraClasses="dark:highlight-white/5 bg-zinc-800 text-zinc-100 hover:bg-zinc-700"
    >
      Mis artículos
    </ButtonLink>
  </div>
</div>
