---
export interface Props {
    href: string;
}

const pathname = new URL(Astro.request.url).pathname;

const { href } = Astro.props as Props;

const isActive = pathname === href;
---

<li>
    <a
        href={href}
        class:list={[
            "relative block px-3 py-2 whitespace-nowrap transition",
            isActive
                ? "text-violet-500 dark:text-violet-400"
                : "hover:text-violet-500 dark:hover:text-violet-400",
        ]}
    >
        <slot />
        {
            isActive && (
                <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-violet-500/0 via-violet-500/40 to-violet-500/0 dark:from-violet-400/0 dark:via-violet-400/40 dark:to-violet-400/0" />
            )
        }
    </a>
</li>
