---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import Head from "../components/Head.astro";
import IconSocial from "../components/IconSocial.astro";

function calculateAge(birthday) { // birthday is a date
   var ageDifMs = Date.now() - birthday;
   var ageDate = new Date(ageDifMs); // miliseconds from epoch
   return Math.abs(ageDate.getUTCFullYear() - 1998);
 }
---

<Head title="Sobre mí" description="Me llamo Ignacio Fernández, soy un emprendedor por vocación, desarrollador Full Stack y analista SEO"/>
<Layout>
  <Container class="mt-16 sm:mt-28">
    <div
      class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
    >
      <div class="lg:pl-20">
        <div class="max-w-xs px-2.5 lg:max-w-none">
          <img
            src="imgs/me.png"
            alt=""
            sizes="(min-width: 1024px) 32rem, 20rem"
            class="aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover dark:bg-zinc-800"
          />
        </div>
      </div>
      <div class="lg:order-first lg:row-span-2">
        <h1
          class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl stylistic-alternates"
        >
          Sobre mí y mis experiencias
        </h1>
        <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
          <p>
            <!-- Me llamo Ignacio Fernández, actualmente vivo en Lleida. Me formé como
            diseñador gráfico e ilustrador vectorial, especializado en Branding.
            A día de hoy soy emprendedor por vocación, desarrollador web por afición
            y analista SEO por profesión. -->
          </p>
          <p>
            <!-- Siempre he tenido como valor añadido el hecho de ser multi-disciplinar,
            autodidacta y proactivo en cuanto aprender nuevos conocimientos,
            habilidades o herramientas. -->
          </p>
          <p>
            <!-- A día de hoy dispongo de una consultoría estratégica digital,
            <a class="font-medium" href="Seoseu">Seoseu</a>, donde prestamos servicios
            de marketing 360º. Entre los servicios que prestamos, destacamos nuestra experiencia
            y resultados en estrategías SEO y SEM, donde le daremos la visibilidad que se merece
            a tu negocio. -->
          </p>
        </div>
      </div>
      <div class="lg:pl-20">
        <ul role="list">
          <li class="flex">
            <a
              href="https://www.instagram.com/nafem98/"
              class="group flex text-sm font-medium text-zinc-800 transition hover:text-violet-500 dark:text-zinc-200 dark:hover:text-violet-400"
            >
              <IconSocial
                brand="Instagram"
                extraClasses="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-violet-500"
              />
              <span class="ml-4">Sígueme en Instagram</span>
            </a>
          </li>
          <li class="flex mt-4">
            <a
              href="https://github.com/ignacio-fm"
              class="group flex text-sm font-medium text-zinc-800 transition hover:text-violet-500 dark:text-zinc-200 dark:hover:text-violet-400"
            >
              <IconSocial
                brand="Github"
                extraClasses="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-violet-500"
              />
              <span class="ml-4">Sígueme en GitHub</span>
            </a>
          </li>
          <li class="flex mt-4">
            <a
              href="https://www.linkedin.com/in/nachofernandezmillera/"
              class="group flex text-sm font-medium text-zinc-800 transition hover:text-violet-500 dark:text-zinc-200 dark:hover:text-violet-400"
            >
              <IconSocial
                brand="Linkedin"
                extraClasses="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-violet-500"
              />
              <span class="ml-4">Sígueme en Linkedin</span>
            </a>
          </li>
          <li
            class="flex mt-8 border-t border-zinc-100 pt-8 dark:border-zinc-700/40"
          >
            <a
              href="mailto:hola@ignacio.info"
              class="group flex text-sm font-medium text-zinc-800 transition hover:text-violet-500 dark:text-zinc-200 dark:hover:text-violet-400"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-violet-500"
              >
                <path
                  d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z"
                ></path>
                <path
                  d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z"
                ></path>
              </svg>

              <span class="ml-4">hola@ignacio.info</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </Container>
</Layout>
