---
import IconTech from "./IconTech.astro";

const techs = [
  "typescript",
  "react.js",
  "next.js",
  "vue.js",
  "nuxt.js",
  "tailwind css",
  "laravel",
  "MySQL",
  "PostgreSQL",
  "Python",
];
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
  <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6 flex-none"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
        class="stroke-zinc-400 dark:stroke-zinc-500 fill-zinc-100 dark:fill-zinc-100/10"
      ></path>
    </svg>
    <span class="ml-3">Mi Stack</span>
  </h2>
  <ul class="mt-6 grid grid-cols-5 gap-4">
    {
      techs.map((tech) => (
        <li title={tech}>
          <span class="sr-only">{tech}</span>
          <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center overflow-hidden rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
            <IconTech brand={tech} />
          </div>
        </li>
      ))
    }
  </ul>
</div>
